* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: top;
  height: 100vh;
  background: #111;
}

.slider {
  position: relative;
  width:  1300px;
  height: 70vh;
  overflow: hidden;
  /* border-radius: 15px; */
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
}

.slides {
  display: flex;
  width: 100%;
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  display: none;
  object-fit: cover;
}

.slide.active {
  display: block;
  animation: fade 1s ease-in-out;
}

@keyframes fade {
  from { opacity: 0.5; }
  to { opacity: 1; }
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  border: none;
  padding: 10px 18px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.3s;
}

button.prev:hover,
button.next:hover {
  background: rgba(255, 255, 255, 0.8);
}

button.prev {
  left: 20px;
}

button.next {
  right: 20px;
}
